In [56]:
import pandas as pd

prolongations = pd.read_csv('prolongations.csv')
financial_data = pd.read_csv('financial_data.csv')

financial_data.replace('\xa0', '', regex=True, inplace=True)
financial_data.replace(',', '.', regex=True, inplace=True)

In [58]:
managers = prolongations["AM"].unique()

In [59]:
all_months = ['ноябрь 2022', 'декабрь 2022', 'январь 2023', 'февраль 2023',
              'март 2023', 'апрель 2023', 'май 2023', 'июнь 2023', 'июль 2023',
              'август 2023', 'сентябрь 2023', 'октябрь 2023', 'ноябрь 2023',
              'декабрь 2023', 'январь 2024', 'февраль 2024']

months_to_calc_prolongation = ['январь 2023', 'февраль 2023', 'март 2023', 'апрель 2023',
                  'май 2023', 'июнь 2023', 'июль 2023', 'август 2023',
                  'сентябрь 2023', 'октябрь 2023', 'ноябрь 2023', 'декабрь 2023']

In [60]:
# для начала посчитаем коэффициенты пролонгации для каждого менеджера:
# 1) за каждый месяц (2023 год)
# 2) за год (2023 год)

In [61]:
def capitalize_first_letter(string):
    return string[0].upper() + string[1:]

In [62]:
for manager in managers:
    for prolongation_month in months_to_calc_prolongation:
        # получаем все проекты, которые были завершены в предыдущих месяцах
        prolongation_month_index = all_months.index(prolongation_month)
        month0_index = all_months.index(prolongation_month) - 2
        month1_index = all_months.index(prolongation_month) - 1
        month0 = all_months[month0_index]
        month1 = all_months[month1_index]

        manager_completed_projects = prolongations[prolongations['AM'] == manager]
        
        month0_completed_projects = manager_completed_projects[manager_completed_projects['month'] == month0]
        month1_completed_projects = manager_completed_projects[manager_completed_projects['month'] == month1]
        
        k2_up_sum = 0
        k2_down_sum = 0
        
        ids = month0_completed_projects['id'].unique()
        projects_financial_data = financial_data[financial_data['id'].isin(ids)].copy()
        
        for id, project in projects_financial_data.iterrows():
            for check_month in range(0, prolongation_month_index + 1):
                if project[capitalize_first_letter(all_months[check_month])] == "стоп" or project[capitalize_first_letter(all_months[check_month])] == "end":
                    projects_financial_data.drop(id, inplace=True)
        
        required_months = all_months[0: prolongation_month_index + 1]
        required_months = [capitalize_first_letter(month) for month in required_months]
        required_months = ['id'] + required_months

        projects_financial_data = projects_financial_data[required_months]
        print(projects_financial_data)
        
        # print("До")
        # print(projects_financial_data)
        # projects_financial_data = projects_financial_data[~projects_financial_data.apply(lambda row: row.astype(str).str.contains('стоп|end').any(), axis=1)]
        # print("После")
        # print(projects_financial_data)    

        # print(projects_financial_data)
        # projects_financial_data = projects_financial_data.astype(float)
        # print()
        
        projects_financial_data_grouped = projects_financial_data.groupby("id").sum()
        # print(projects_financial_data_grouped)
        

        # print("проекты без стопов:")
        # print(projects_financial_data)
        
            # if float(project[capitalize_first_letter(prev_prev_month)]):
            #     k2_up_sum += float(project[capitalize_first_letter(prev_prev_month)])
            #     k2_down_sum += float(project[capitalize_first_letter(prev_month)])
            #     print(f"Проект {project['id']} в месяце {prev_prev_month} имеет значение {project[capitalize_first_letter(prev_prev_month)]}")
        # for id in prev_prev_month_completed_projects['id']:
        #     projects = financial_data.loc[financial_data['id'] == id]
        #     for check_month in range(0, prev_prev_month_index + 1):
        #         disbursement = projects[capitalize_first_letter(all_months[check_month])]
        #         print(len(disbursement))
        #         print(disbursement)
            # for _, project in projects.iterrows():
            #     if float(project[capitalize_first_letter(prev_month)]):
            #         print(f"Проект {id} в месяце {prev_month} имеет значение {project[capitalize_first_letter(prev_month)]}")
                
# for months in months_to_calc:
#     prev_prev_month = all_months[all_months.index(months) - 2]
#     prev_month = all_months[all_months.index(months) - 1]
# 
#     prev_prev_month_completed_projects = prolongations[prolongations['month'] == prev_prev_month]
#     prev_month_completed_projects = prolongations[prolongations['month'] == prev_month]

    Ноябрь 2022 Декабрь 2022 Январь 2023   id
0      36220.00          NaN         NaN   42
4      10000.00          NaN         NaN  665
8        в ноль          NaN         NaN  579
9      92302.00          NaN         NaN  592
10     12340.00          NaN         NaN  592
11    110000.00          NaN         NaN  666
12       в ноль          NaN         NaN  620
83       в ноль     39245.00    44320.00  453
160   237977.00    144650.00   144650.00  600
161    43440.00     30450.00   122570.00  600
217    40200.00     40200.00    40200.00  633
311    42600.00      7450.00         NaN  369
312         NaN          NaN         NaN  369
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023   id
18     55100.00     55100.00         NaN     44775.00   31
57          NaN     29127.50         NaN          NaN  720
58          NaN     29127.50         NaN          NaN  720
60     41565.00     29960.00         NaN          NaN  596
62     70650.00     74650.00         NaN          NaN  498
81          NaN     72900.00    60900.00          NaN  703
113         NaN     71000.00         NaN    121500.00  697
114         NaN       в ноль      в ноль       в ноль  697
198         NaN    602370.00         NaN          NaN  719
199         NaN          NaN         NaN          NaN  719
350   343745.00    501895.00   660475.00    743015.00  708
351         NaN          NaN         NaN      9500.00  708
362    37939.50     37939.50    39838.50     39298.50   46
363    85842.00     85842.00    83358.00     83358.00   49
422    28200.00     28200.00    33885.00     33885.00  228
428    89185.11     74986.18    63305.10     69513.19  471
429         NaN          NaN         NaN          NaN  471
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023  Март 2023   id
65          NaN          NaN         NaN          NaN        NaN  684
81          NaN     72900.00    60900.00          NaN        NaN  703
113         NaN     71000.00         NaN    121500.00   44250.00  697
114         NaN       в ноль      в ноль       в ноль   75000.00  697
288    52158.00     66122.00    34850.00          NaN   67774.08  107
350   343745.00    501895.00   660475.00    743015.00  780365.00  708
351         NaN          NaN         NaN      9500.00   14725.00  708
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023  Март 2023 Апрель 2023  \
82     75310.00     71060.00    71060.00     76500.00        NaN         NaN
83       в ноль     39245.00    44320.00    177635.00        NaN         NaN
90     68285.00     70445.00    70445.00     70445.00        NaN         NaN
124         NaN       в ноль    40620.00     48715.00   49610.00    49850.00
160   237977.00    144650.00   144650.00    144650.00  118300.00   186395.00
161    43440.00     30450.00   122570.00    114283.00  106037.00    46410.00
217    40200.00     40200.00    40200.00     40200.00        NaN    40200.00
376         NaN          NaN         NaN     79800.00   82400.00    44550.00
377         NaN          NaN         NaN     11864.42   10354.55      в ноль
408   149080.00    149100.00   177595.00    171260.00  150220.00   148220.00
420    25745.00     26167.50    33127.50          NaN        NaN         NaN
421    25745.00     26167.50    33127.50     56115.00  104976.00    94329.00

      id
82   529
83   453
90   653
124  667
160  600
161  600
217  633
376  744
377  744
408  190
420  629
421  629
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023  Март 2023 Апрель 2023  \
101    44030.00     48280.00    44030.00     44030.00   48280.00         NaN
102    47234.00     53608.50    47234.00     46958.50   53884.00         NaN
103   108866.50     42297.00    77784.50     48173.50   86496.50         NaN
104         NaN          NaN    24615.00     25672.50   25672.50         NaN
113         NaN     71000.00         NaN    121500.00   44250.00         NaN
114         NaN       в ноль      в ноль       в ноль   75000.00         NaN
124         NaN       в ноль    40620.00     48715.00   49610.00    49850.00
253         NaN          NaN         NaN          NaN   44100.00    58240.00
313   324600.00    324600.00   324600.00    324600.00  324600.00   324600.00
314    85120.00     85120.00    85120.00     85120.00   85120.00    85120.00
376         NaN          NaN         NaN     79800.00   82400.00    44550.00
377         NaN          NaN         NaN     11864.42   10354.55      в ноль
432    28864.00     23944.00    23944.00     23944.00   23944.00         NaN
433   274011.20    287852.80   243732.70    277295.80  252063.90         NaN

      Май 2023   id
101        NaN  530
102        NaN  549
103        NaN  686
104        NaN   56
113        NaN  697
114        NaN  697
124        NaN  667
253     в ноль  789
313  328020.00  244
314   69940.00  562
376   36100.00  744
377   19277.30  744
432        NaN  682
433        NaN  682
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023  Март 2023 Апрель 2023  \
124         NaN       в ноль    40620.00     48715.00   49610.00    49850.00
126         NaN          NaN         NaN          NaN        NaN   550000.00
160   237977.00    144650.00   144650.00    144650.00  118300.00   186395.00
161    43440.00     30450.00   122570.00    114283.00  106037.00    46410.00
162         NaN          NaN         NaN          NaN        NaN         NaN
163         NaN          NaN         NaN          NaN        NaN         NaN
176         NaN          NaN         NaN          NaN   37363.50    38632.50
217    40200.00     40200.00    40200.00     40200.00        NaN    40200.00
287         NaN          NaN         NaN     39726.00   39726.00    39726.00
313   324600.00    324600.00   324600.00    324600.00  324600.00   324600.00
314    85120.00     85120.00    85120.00     85120.00   85120.00    85120.00
350   343745.00    501895.00   660475.00    743015.00  780365.00   676860.00
351         NaN          NaN         NaN      9500.00   14725.00     7125.00

      Май 2023  Июнь 2023   id
124        NaN        NaN  667
126        NaN        NaN  838
160  168820.00  185370.00  600
161   44379.00   72430.00  600
162   15400.00   15400.00  787
163  106400.00   53200.00  787
176        NaN   38632.50  495
217   40200.00  166465.00  633
287        NaN        NaN   48
313  328020.00  328020.00  244
314   69940.00   69940.00  562
350  142615.00  161050.00  708
351    2850.00    2850.00  708
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023  Март 2023 Апрель 2023  \
130         NaN          NaN         NaN          NaN   85697.50    72542.50
131         NaN          NaN         NaN          NaN   36707.50    24267.50
132         NaN          NaN         NaN          NaN   53288.07    45603.00
134         NaN          NaN         NaN          NaN        NaN         NaN
136         NaN          NaN         NaN          NaN        NaN    83500.00
137         NaN          NaN         NaN          NaN        NaN     9150.00
254         NaN          NaN         NaN    107124.00  102032.00   102032.00
255         NaN          NaN         NaN          NaN        NaN         NaN
288    52158.00     66122.00    34850.00          NaN   67774.08    36046.00

      Май 2023  Июнь 2023  Июль 2023   id
130   63660.00        NaN        NaN  814
131   32255.00        NaN        NaN  814
132   36771.00        NaN        NaN  814
134        NaN        NaN        NaN  853
136   80000.00        NaN        NaN  837
137   18000.00        NaN        NaN  837
254  104768.00  104768.00  104768.00  771
255        NaN        NaN        NaN  771
288   54832.00   47165.28   71542.00  107
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023  Март 2023 Апрель 2023  \
153         NaN          NaN         NaN          NaN        NaN         NaN
154         NaN          NaN         NaN          NaN        NaN    60072.10
156    94000.00     83400.00    79820.00     87680.00   82100.00    84100.00
160   237977.00    144650.00   144650.00    144650.00  118300.00   186395.00
161    43440.00     30450.00   122570.00    114283.00  106037.00    46410.00
162         NaN          NaN         NaN          NaN        NaN         NaN
163         NaN          NaN         NaN          NaN        NaN         NaN
198         NaN    602370.00         NaN          NaN        NaN    52565.00
199         NaN          NaN         NaN          NaN        NaN     1022.55
217    40200.00     40200.00    40200.00     40200.00        NaN    40200.00
228         NaN          NaN         NaN      1400.00    1400.00     1400.00
229         NaN          NaN         NaN          NaN        NaN         NaN
230         NaN          NaN         NaN      3165.00    5275.00     3165.00
376         NaN          NaN         NaN     79800.00   82400.00    44550.00
377         NaN          NaN         NaN     11864.42   10354.55      в ноль
418         NaN          NaN         NaN          NaN        NaN         NaN
419   135995.00    135995.00   131425.00    140565.00  146845.00   146845.00

      Май 2023  Июнь 2023  Июль 2023 Август 2023   id
153        NaN        NaN        NaN         NaN  711
154   61187.60   91257.60        NaN         NaN  832
156   84100.00   74360.00        NaN         NaN  441
160  168820.00  185370.00        NaN         NaN  600
161   44379.00   72430.00        NaN         NaN  600
162   15400.00   15400.00        NaN         NaN  787
163  106400.00   53200.00        NaN         NaN  787
198   54355.00   53510.00   64355.00    58355.00  719
199     в ноль    1590.00     в ноль      в ноль  719
217   40200.00  166465.00  166500.00   166500.00  633
228    1400.00    1400.00   89850.00    94050.00  792
229        NaN        NaN    4200.00         NaN  792
230    3165.00     в ноль     в ноль      в ноль  792
376   36100.00   36100.00   44550.00    36100.00  744
377   19277.30    4688.00    2311.00    13415.32  744
418        NaN        NaN  139860.00   139860.00  610
419  146845.00  135985.00   10065.00    11285.00  610
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023 Март 2023 Апрель 2023  \
184         NaN          NaN         NaN    171046.75       NaN      в ноль
185         NaN          NaN         NaN          NaN       NaN         NaN
188         NaN          NaN         NaN    191000.00  21000.00   118000.00
189         NaN          NaN         NaN          NaN       NaN         NaN
190         NaN          NaN         NaN          NaN       NaN         NaN
194         NaN          NaN         NaN          NaN       NaN         NaN
217    40200.00     40200.00    40200.00     40200.00       NaN    40200.00
253         NaN          NaN         NaN          NaN  44100.00    58240.00

      Май 2023  Июнь 2023  Июль 2023 Август 2023 Сентябрь 2023   id
184   54111.00   75000.00     в ноль         NaN           NaN  211
185        NaN        NaN  180000.00   135000.00     238500.00  211
188  118000.00  118000.00  118000.00         NaN           NaN  786
189  167500.00  121500.00   49000.00         NaN           NaN  786
190        NaN        NaN   72500.00         NaN           NaN  786
194        NaN        NaN   35000.00         NaN           NaN  901
217   40200.00  166465.00  166500.00   166500.00           NaN  633
253     в ноль    7280.00   28000.00     8400.00      15120.00  789
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023 Март 2023 Апрель 2023  \
198         NaN    602370.00         NaN          NaN       NaN    52565.00
199         NaN          NaN         NaN          NaN       NaN     1022.55
215         NaN          NaN         NaN          NaN       NaN         NaN
217    40200.00     40200.00    40200.00     40200.00       NaN    40200.00
282         NaN          NaN         NaN          NaN       NaN         NaN
283         NaN          NaN         NaN          NaN       NaN         NaN
288    52158.00     66122.00    34850.00          NaN  67774.08    36046.00
339         NaN          NaN         NaN          NaN       NaN         NaN
352         NaN          NaN         NaN          NaN       NaN         NaN
370    94000.00     94000.00    94000.00     94000.00  94000.00    94000.00

     Май 2023  Июнь 2023  Июль 2023 Август 2023 Сентябрь 2023 Октябрь 2023  \
198  54355.00   53510.00   64355.00    58355.00           NaN          NaN
199    в ноль    1590.00     в ноль      в ноль           NaN          NaN
215       NaN        NaN        NaN   763110.00           NaN          NaN
217  40200.00  166465.00  166500.00   166500.00           NaN          NaN
282       NaN        NaN        NaN    68850.00           NaN     68650.00
283       NaN        NaN        NaN    13370.00           NaN     13370.00
288  54832.00   47165.28   71542.00    51910.74      60269.00     58485.96
339       NaN   32075.00   63190.00    64940.00           NaN          NaN
352  84015.00   78015.00   78015.00    80505.00      80505.00     78660.00
370  94000.00   94000.00   94000.00    94000.00      94000.00     94000.00

      id
198  719
199  719
215  916
217  633
282  929
283  929
288  107
339  889
352  850
370  109
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023  Март 2023 Апрель 2023  \
228         NaN          NaN         NaN      1400.00    1400.00     1400.00
229         NaN          NaN         NaN          NaN        NaN         NaN
230         NaN          NaN         NaN      3165.00    5275.00     3165.00
237         NaN          NaN         NaN          NaN        NaN         NaN
238         NaN          NaN         NaN          NaN        NaN         NaN
239         NaN          NaN         NaN          NaN        NaN         NaN
253         NaN          NaN         NaN          NaN   44100.00    58240.00
350   343745.00    501895.00   660475.00    743015.00  780365.00   676860.00
351         NaN          NaN         NaN      9500.00   14725.00     7125.00

      Май 2023  Июнь 2023  Июль 2023 Август 2023 Сентябрь 2023 Октябрь 2023  \
228    1400.00    1400.00   89850.00    94050.00      94050.00          NaN
229        NaN        NaN    4200.00         NaN           NaN          NaN
230    3165.00     в ноль     в ноль      в ноль        в ноль          NaN
237        NaN        NaN   48245.00    42145.00      34090.00          NaN
238        NaN        NaN   47925.00    33250.00      33725.00          NaN
239        NaN        NaN   50285.00    39180.00      33200.00          NaN
253     в ноль    7280.00   28000.00     8400.00      15120.00          NaN
350  142615.00  161050.00  141875.00   141875.00     187385.00    355915.00
351    2850.00    2850.00    2850.00     2850.00       3800.00          NaN

    Ноябрь 2023   id
228         NaN  792
229         NaN  792
230         NaN  792
237         NaN  876
238         NaN  877
239         NaN  878
253         NaN  789
350   356355.00  708
351         NaN  708
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023  Март 2023 Апрель 2023  \
268         NaN          NaN         NaN          NaN        NaN         NaN
271         NaN          NaN         NaN          NaN        NaN         NaN
272         NaN          NaN         NaN          NaN        NaN         NaN
282         NaN          NaN         NaN          NaN        NaN         NaN
283         NaN          NaN         NaN          NaN        NaN         NaN
340         NaN          NaN         NaN          NaN        NaN         NaN
349         NaN          NaN         NaN          NaN        NaN         NaN
371         NaN          NaN   125530.00    119800.00  109925.00   114885.00
372         NaN          NaN     5700.00      9500.00    9500.00    14250.00

      Май 2023  Июнь 2023  Июль 2023 Август 2023 Сентябрь 2023 Октябрь 2023  \
268        NaN        NaN        NaN         NaN           NaN          NaN
271   50085.00   38013.75   49263.75    38227.50      38013.75     49263.75
272   50085.00   38013.75   49263.75    38227.50      38013.75     49263.75
282        NaN        NaN        NaN    68850.00           NaN     68650.00
283        NaN        NaN        NaN    13370.00           NaN     13370.00
340        NaN        NaN        NaN         NaN      61000.00     61000.00
349        NaN        NaN        NaN    88838.00     100891.00    106346.00
371  185665.00  269360.00  268895.00   171865.00     173765.00    197110.00
372   37430.00   36725.00   53825.00    28175.00      28175.00     32925.00

    Ноябрь 2023 Декабрь 2023   id
268         NaN          NaN  963
271         NaN     43770.00  822
272         NaN     43770.00  822
282         NaN          NaN  929
283         NaN          NaN  929
340    61000.00     55000.00  956
349    70709.00    107411.00  947
371   194260.00    194735.00  748
372    32925.00     32925.00  748
    Ноябрь 2022 Декабрь 2022 Январь 2023   id
6           NaN          NaN         NaN  419
13     35365.00          NaN         NaN  704
14       945.00          NaN         NaN  704
15      4715.00          NaN         NaN  704
66    674000.00    674000.00   674000.00  548
430   144180.00    104660.00   226420.00  547
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023   id
32          NaN          NaN         NaN          NaN  603
39     88540.00     92140.00         NaN          NaN  454
40     55000.00     55000.00         NaN          NaN  455
148    92505.00    107275.00    76450.00     74425.00  583
156    94000.00     83400.00    79820.00     87680.00  441
347   194850.00    190675.00   184016.00    184016.00  597
348    19185.96     19340.21    17928.09     17928.09  597
446    76550.00     79950.00    66900.00     89150.00  281
447    21450.00     13300.00    15900.00     19850.00  281
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023  Март 2023   id
66    674000.00    674000.00   674000.00    674000.00        NaN  548
430   144180.00    104660.00   226420.00    139660.00  165540.00  547
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023 Март 2023 Апрель 2023  \
448         NaN          NaN         NaN      5306.60  12898.10     5287.00

      id
448  785
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023 Март 2023 Апрель 2023  \
197         NaN          NaN         NaN          NaN  42937.10    50640.35
369         NaN          NaN    35000.00     35000.00  35000.00    35000.00

     Май 2023   id
197  57901.14  580
369  35000.00  783
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023  Март 2023 Апрель 2023  \
214         NaN          NaN   104319.00     60660.00  359157.00   241780.00
264         NaN          NaN   207030.00    219805.00        NaN         NaN
430   144180.00    104660.00   226420.00    139660.00  165540.00   168680.00

      Май 2023  Июнь 2023   id
214  321769.75  337482.75  781
264        NaN        NaN  782
430  166520.00   83360.00  547
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023  Март 2023 Апрель 2023  \
149         NaN          NaN         NaN          NaN  105793.24   103631.57
150         NaN          NaN         NaN          NaN  107365.80    92859.43

      Май 2023 Июнь 2023 Июль 2023   id
149  103860.56       NaN       NaN  585
150   93064.62       NaN       NaN  585
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023 Март 2023 Апрель 2023  \
166         NaN          NaN         NaN          NaN       NaN         NaN

     Май 2023 Июнь 2023 Июль 2023 Август 2023   id
166  63520.00  79180.00  94820.00         NaN  869
Empty DataFrame
Columns: [Ноябрь 2022, Декабрь 2022, Январь 2023, Февраль 2023, Март 2023, Апрель 2023, Май 2023, Июнь 2023, Июль 2023, Август 2023, Сентябрь 2023, id]
Index: []
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023  Март 2023 Апрель 2023  \
214         NaN          NaN   104319.00     60660.00  359157.00   241780.00

      Май 2023  Июнь 2023  Июль 2023 Август 2023 Сентябрь 2023 Октябрь 2023  \
214  321769.75  337482.75  288638.50   333853.75           NaN          NaN

      id
214  781
    Ноябрь 2022 Декабрь 2022 Январь 2023 Февраль 2023  Март 2023 Апрель 2023  \
264         NaN          NaN   207030.00    219805.00        NaN         NaN
265         NaN          NaN         NaN          NaN        NaN         NaN