In [71]:
import pandas as pd

prolongations = pd.read_csv('prolongations.csv')
financial_data = pd.read_csv('financial_data.csv')

financial_data.replace('\xa0', '', regex=True, inplace=True)
financial_data.replace(',', '.', regex=True, inplace=True)
financial_data.replace('в ноль', '0', regex=True, inplace=True)

In [72]:
managers = prolongations["AM"].unique()

In [73]:
all_months = ['ноябрь 2022', 'декабрь 2022', 'январь 2023', 'февраль 2023',
              'март 2023', 'апрель 2023', 'май 2023', 'июнь 2023', 'июль 2023',
              'август 2023', 'сентябрь 2023', 'октябрь 2023', 'ноябрь 2023',
              'декабрь 2023', 'январь 2024', 'февраль 2024']

months_to_calc = ['январь 2023', 'февраль 2023', 'март 2023', 'апрель 2023',
                  'май 2023', 'июнь 2023', 'июль 2023', 'август 2023',
                  'сентябрь 2023', 'октябрь 2023', 'ноябрь 2023', 'декабрь 2023']

In [74]:
# для начала посчитаем коэффициенты пролонгации для каждого менеджера:
# 1) за каждый месяц (2023 год)
# 2) за год (2023 год)

In [75]:
def capitalize_first_letter(string):
    return string[0].upper() + string[1:]

In [86]:
for manager in managers:
    for month in months_to_calc:
        # получаем все проекты, которые были завершены в предыдущих месяцах
        prev_prev_month_index = all_months.index(month) - 2
        prev_month_index = all_months.index(month) - 1
        prev_prev_month = all_months[prev_prev_month_index]
        prev_month = all_months[prev_month_index]

        manager_completed_projects = prolongations[prolongations['AM'] == manager]
        
        prev_prev_month_completed_projects = manager_completed_projects[manager_completed_projects['month'] == prev_prev_month]
        prev_month_completed_projects = manager_completed_projects[manager_completed_projects['month'] == prev_month]
        
        k2_up_sum = 0
        k2_down_sum = 0
        
        print(prev_prev_month_completed_projects['id'])
        for id in prev_prev_month_completed_projects['id']:
            projects = financial_data.loc[financial_data['id'] == id]
            # print(projects)
            for check_month in range(0, prev_prev_month_index + 1):
                disbursement = projects[capitalize_first_letter(all_months[check_month])]
                print(len(disbursement))
                print(disbursement)
            # for _, project in projects.iterrows():
            #     if float(project[capitalize_first_letter(prev_month)]):
            #         print(f"Проект {id} в месяце {prev_month} имеет значение {project[capitalize_first_letter(prev_month)]}")
                
# for months in months_to_calc:
#     prev_prev_month = all_months[all_months.index(months) - 2]
#     prev_month = all_months[all_months.index(months) - 1]
# 
#     prev_prev_month_completed_projects = prolongations[prolongations['month'] == prev_prev_month]
#     prev_month_completed_projects = prolongations[prolongations['month'] == prev_month]

0      42
1     453
5     600
6     657
7     594
8     665
13    579
15    633
17    369
19    592
20    666
21    620
Name: id, dtype: int64
1
0    36220.00
Name: Ноябрь 2022, dtype: object
1
83    в ноль
Name: Ноябрь 2022, dtype: object
2
160    237977.00
161     43440.00
Name: Ноябрь 2022, dtype: object
2
1    стоп
2    стоп
Name: Ноябрь 2022, dtype: object
1
3    стоп
Name: Ноябрь 2022, dtype: object
1
4    10000.00
Name: Ноябрь 2022, dtype: object
1
8    в ноль
Name: Ноябрь 2022, dtype: object
1
217    40200.00
Name: Ноябрь 2022, dtype: object
2
311    42600.00
312         NaN
Name: Ноябрь 2022, dtype: object
2
9     92302.00
10    12340.00
Name: Ноябрь 2022, dtype: object
1
11    110000.00
Name: Ноябрь 2022, dtype: object
1
12    в ноль
Name: Ноябрь 2022, dtype: object
27     31
28    572
29    573
30    574
31    575
32    576
36    708
37    719
41    613
42    615
43    617
44    643
47     46
48     49
76    720
77    228
79    471
80    596
83    498
84    703
89    697
90    626
Name: id, dtype: int64
1
18    55100.00
Name: Ноябрь 2022, dtype: object
1
18    55100.00
Name: Декабрь 2022, dtype: object
1
19    56200.00
Name: Ноябрь 2022, dtype: object
1
19    стоп
Name: Декабрь 2022, dtype: object
1
20    69210.00
Name: Ноябрь 2022, dtype: object
1
20    стоп
Name: Декабрь 2022, dtype: object
1
21    46755.00
Name: Ноябрь 2022, dtype: object
1
21    стоп
Name: Декабрь 2022, dtype: object
1
22    25020.00
Name: Ноябрь 2022, dtype: object
1
22    стоп
Name: Декабрь 2022, dtype: object
1
23    36365.00
Name: Ноябрь 2022, dtype: object
1
23    стоп
Name: Декабрь 2022, dtype: object
2
350    343745.00
351          NaN
Name: Ноябрь 2022, dtype: object
2
350    501895.00
351          NaN
Name: Декабрь 2022, dtype: object
2
198    NaN
199    NaN
Name: Ноябрь 2022, dtype: object
2
198    602370.00
199          NaN
Name: Декабрь 2022, dtype: object
1
27    в ноль
Name: Ноябрь 2022, dtype: object
1
27    стоп
Name: Декабрь 2022, dtype: object
1
28    в ноль
Name: Ноябрь 2022, dtype: object
1
28    стоп
Name: Декабрь 2022, dtype: object
1
29    в ноль
Name: Ноябрь 2022, dtype: object
1
29    стоп
Name: Декабрь 2022, dtype: object
1
30    в ноль
Name: Ноябрь 2022, dtype: object
1
30    стоп
Name: Декабрь 2022, dtype: object
1
362    37939.50
Name: Ноябрь 2022, dtype: object
1
362    37939.50
Name: Декабрь 2022, dtype: object
1
363    85842.00
Name: Ноябрь 2022, dtype: object
1
363    85842.00
Name: Декабрь 2022, dtype: object
2
57    NaN
58    NaN
Name: Ноябрь 2022, dtype: object
2
57    29127.50
58    29127.50
Name: Декабрь 2022, dtype: object
1
422    28200.00
Name: Ноябрь 2022, dtype: object
1
422    28200.00
Name: Декабрь 2022, dtype: object
2
428    89185.11
429         NaN
Name: Ноябрь 2022, dtype: object
2
428    74986.18
429         NaN
Name: Декабрь 2022, dtype: object
1
60    41565.00
Name: Ноябрь 2022, dtype: object
1
60    29960.00
Name: Декабрь 2022, dtype: object
1
62    70650.00
Name: Ноябрь 2022, dtype: object
1
62    74650.00
Name: Декабрь 2022, dtype: object
1
81    NaN
Name: Ноябрь 2022, dtype: object
1
81    72900.00
Name: Декабрь 2022, dtype: object
2
113    NaN
114    NaN
Name: Ноябрь 2022, dtype: object
2
113    71000.00
114      в ноль
Name: Декабрь 2022, dtype: object
1
64    стоп
Name: Ноябрь 2022, dtype: object
1
64    NaN
Name: Декабрь 2022, dtype: object
91     684
92     708
98     107
108    703
109    697
Name: id, dtype: int64
1
65    NaN
Name: Ноябрь 2022, dtype: object
1
65    NaN
Name: Декабрь 2022, dtype: object
1
65    NaN
Name: Январь 2023, dtype: object
2
350    343745.00
351          NaN
Name: Ноябрь 2022, dtype: object
2
350    501895.00
351          NaN
Name: Декабрь 2022, dtype: object
2
350    660475.00
351          NaN
Name: Январь 2023, dtype: object
1
288    52158.00
Name: Ноябрь 2022, dtype: object
1
288    66122.00
Name: Декабрь 2022, dtype: object
1
288    34850.00
Name: Январь 2023, dtype: object
1
81    NaN
Name: Ноябрь 2022, dtype: object
1
81    72900.00
Name: Декабрь 2022, dtype: object
1
81    60900.00
Name: Январь 2023, dtype: object
2
113    NaN
114    NaN
Name: Ноябрь 2022, dtype: object
2
113    71000.00
114      в ноль
Name: Декабрь 2022, dtype: object
2
113       NaN
114    в ноль
Name: Январь 2023, dtype: object
111    529
113    453
117    600
121    653
122    744
125    667
127    633
128    190
136    629
Name: id, dtype: int64
1
82    75310.00
Name: Ноябрь 2022, dtype: object
1
82    71060.00
Name: Декабрь 2022, dtype: object
1
82    71060.00
Name: Январь 2023, dtype: object
1
82    76500.00
Name: Февраль 2023, dtype: object
1
83    в ноль
Name: Ноябрь 2022, dtype: object
1
83    39245.00
Name: Декабрь 2022, dtype: object
1
83    44320.00
Name: Январь 2023, dtype: object
1
83    177635.00
Name: Февраль 2023, dtype: object
2
160    237977.00
161     43440.00
Name: Ноябрь 2022, dtype: object
2
160    144650.00
161     30450.00
Name: Декабрь 2022, dtype: object
2
160    144650.00
161    122570.00
Name: Январь 2023, dtype: object
2
160    144650.00
161    114283.00
Name: Февраль 2023, dtype: object
1
90    68285.00
Name: Ноябрь 2022, dtype: object
1
90    70445.00
Name: Декабрь 2022, dtype: object
1
90    70445.00
Name: Январь 2023, dtype: object
1
90    70445.00
Name: Февраль 2023, dtype: object
2
376    NaN
377    NaN
Name: Ноябрь 2022, dtype: object
2
376    NaN
377    NaN
Name: Декабрь 2022, dtype: object
2
376    NaN
377    NaN
Name: Январь 2023, dtype: object
2
376    79800.00
377    11864.42
Name: Февраль 2023, dtype: object
1
124    NaN
Name: Ноябрь 2022, dtype: object
1
124    в ноль
Name: Декабрь 2022, dtype: object
1
124    40620.00
Name: Январь 2023, dtype: object
1
124    48715.00
Name: Февраль 2023, dtype: object
1
217    40200.00
Name: Ноябрь 2022, dtype: object
1
217    40200.00
Name: Декабрь 2022, dtype: object
1
217    40200.00
Name: Январь 2023, dtype: object
1
217    40200.00
Name: Февраль 2023, dtype: object
1
408    149080.00
Name: Ноябрь 2022, dtype: object
1
408    149100.00
Name: Декабрь 2022, dtype: object
1
408    177595.00
Name: Январь 2023, dtype: object
1
408    171260.00
Name: Февраль 2023, dtype: object
2
420    25745.00
421    25745.00
Name: Ноябрь 2022, dtype: object
2
420    26167.50
421    26167.50
Name: Декабрь 2022, dtype: object
2
420    33127.50
421    33127.50
Name: Январь 2023, dtype: object
2
420         NaN
421    56115.00
Name: Февраль 2023, dtype: object
139    530
140    549
142    686
144     56
148    744
149    667
158    244
159    562
160    682
161    682
163    697
164    697
167    789
Name: id, dtype: int64
1
101    44030.00
Name: Ноябрь 2022, dtype: object
1
101    48280.00
Name: Декабрь 2022, dtype: object
1
101    44030.00
Name: Январь 2023, dtype: object
1
101    44030.00
Name: Февраль 2023, dtype: object
1
101    48280.00
Name: Март 2023, dtype: object
1
102    47234.00
Name: Ноябрь 2022, dtype: object
1
102    53608.50
Name: Декабрь 2022, dtype: object
1
102    47234.00
Name: Январь 2023, dtype: object
1
102    46958.50
Name: Февраль 2023, dtype: object
1
102    53884.00
Name: Март 2023, dtype: object
1
103    108866.50
Name: Ноябрь 2022, dtype: object
1
103    42297.00
Name: Декабрь 2022, dtype: object
1
103    77784.50
Name: Январь 2023, dtype: object
1
103    48173.50
Name: Февраль 2023, dtype: object
1
103    86496.50
Name: Март 2023, dtype: object
1
104    NaN
Name: Ноябрь 2022, dtype: object
1
104    NaN
Name: Декабрь 2022, dtype: object
1
104    24615.00
Name: Январь 2023, dtype: object
1
104    25672.50
Name: Февраль 2023, dtype: object
1
104    25672.50
Name: Март 2023, dtype: object
2
376    NaN
377    NaN
Name: Ноябрь 2022, dtype: object
2
376    NaN
377    NaN
Name: Декабрь 2022, dtype: object
2
376    NaN
377    NaN
Name: Январь 2023, dtype: object
2
376    79800.00
377    11864.42
Name: Февраль 2023, dtype: object
2
376    82400.00
377    10354.55
Name: Март 2023, dtype: object
1
124    NaN
Name: Ноябрь 2022, dtype: object
1
124    в ноль
Name: Декабрь 2022, dtype: object
1
124    40620.00
Name: Январь 2023, dtype: object
1
124    48715.00
Name: Февраль 2023, dtype: object
1
124    49610.00
Name: Март 2023, dtype: object
1
313    324600.00
Name: Ноябрь 2022, dtype: object
1
313    324600.00
Name: Декабрь 2022, dtype: object
1
313    324600.00
Name: Январь 2023, dtype: object
1
313    324600.00
Name: Февраль 2023, dtype: object
1
313    324600.00
Name: Март 2023, dtype: object
1
314    85120.00
Name: Ноябрь 2022, dtype: object
1
314    85120.00
Name: Декабрь 2022, dtype: object
1
314    85120.00
Name: Январь 2023, dtype: object
1
314    85120.00
Name: Февраль 2023, dtype: object
1
314    85120.00
Name: Март 2023, dtype: object
2
432     28864.00
433    274011.20
Name: Ноябрь 2022, dtype: object
2
432     23944.00
433    287852.80
Name: Декабрь 2022, dtype: object
2
432     23944.00
433    243732.70
Name: Январь 2023, dtype: object
2
432     23944.00
433    277295.80
Name: Февраль 2023, dtype: object
2
432     23944.00
433    252063.90
Name: Март 2023, dtype: object
2
432     28864.00
433    274011.20
Name: Ноябрь 2022, dtype: object
2
432     23944.00
433    287852.80
Name: Декабрь 2022, dtype: object
2
432     23944.00
433    243732.70
Name: Январь 2023, dtype: object
2
432     23944.00
433    277295.80
Name: Февраль 2023, dtype: object
2
432     23944.00
433    252063.90
Name: Март 2023, dtype: object
2
113    NaN
114    NaN
Name: Ноябрь 2022, dtype: object
2
113    71000.00
114      в ноль
Name: Декабрь 2022, dtype: object
2
113       NaN
114    в ноль
Name: Январь 2023, dtype: object
2
113    121500.00
114       в ноль
Name: Февраль 2023, dtype: object
2
113    44250.00
114    75000.00
Name: Март 2023, dtype: object
2
113    NaN
114    NaN
Name: Ноябрь 2022, dtype: object
2
113    71000.00
114      в ноль
Name: Декабрь 2022, dtype: object
2
113       NaN
114    в ноль
Name: Январь 2023, dtype: object
2
113    121500.00
114       в ноль
Name: Февраль 2023, dtype: object
2
113    44250.00
114    75000.00
Name: Март 2023, dtype: object
1
253    NaN
Name: Ноябрь 2022, dtype: object
1
253    NaN
Name: Декабрь 2022, dtype: object
1
253    NaN
Name: Январь 2023, dtype: object
1
253    NaN
Name: Февраль 2023, dtype: object
1
253    44100.00
Name: Март 2023, dtype: object
172    708
173     48
174    495
175    787
178    663
186    600
187    600
191    667
192    633
195    244
196    562
199    838
Name: id, dtype: int64
2
350    343745.00
351          NaN
Name: Ноябрь 2022, dtype: object
2
350    501895.00
351          NaN
Name: Декабрь 2022, dtype: object
2
350    660475.00
351          NaN
Name: Январь 2023, dtype: object
2
350    743015.00
351      9500.00
Name: Февраль 2023, dtype: object
2
350    780365.00
351     14725.00
Name: Март 2023, dtype: object
2
350    676860.00
351      7125.00
Name: Апрель 2023, dtype: object
1
287    NaN
Name: Ноябрь 2022, dtype: object
1
287    NaN
Name: Декабрь 2022, dtype: object
1
287    NaN
Name: Январь 2023, dtype: object
1
287    39726.00
Name: Февраль 2023, dtype: object
1
287    39726.00
Name: Март 2023, dtype: object
1
287    39726.00
Name: Апрель 2023, dtype: object
1
176    NaN
Name: Ноябрь 2022, dtype: object
1
176    NaN
Name: Декабрь 2022, dtype: object
1
176    NaN
Name: Январь 2023, dtype: object
1
176    NaN
Name: Февраль 2023, dtype: object
1
176    37363.50
Name: Март 2023, dtype: object
1
176    38632.50
Name: Апрель 2023, dtype: object
2
162    NaN
163    NaN
Name: Ноябрь 2022, dtype: object
2
162    NaN
163    NaN
Name: Декабрь 2022, dtype: object
2
162    NaN
163    NaN
Name: Январь 2023, dtype: object
2
162    NaN
163    NaN
Name: Февраль 2023, dtype: object
2
162    NaN
163    NaN
Name: Март 2023, dtype: object
2
162    NaN
163    NaN
Name: Апрель 2023, dtype: object
2
120    122305.00
121     52425.13
Name: Ноябрь 2022, dtype: object
2
120    116850.00
121     52948.08
Name: Декабрь 2022, dtype: object
2
120    121500.00
121     54291.08
Name: Январь 2023, dtype: object
2
120    39187.50
121    18572.50
Name: Февраль 2023, dtype: object
2
120    стоп
121    стоп
Name: Март 2023, dtype: object
2
120    NaN
121    NaN
Name: Апрель 2023, dtype: object
2
160    237977.00
161     43440.00
Name: Ноябрь 2022, dtype: object
2
160    144650.00
161     30450.00
Name: Декабрь 2022, dtype: object
2
160    144650.00
161    122570.00
Name: Январь 2023, dtype: object
2
160    144650.00
161    114283.00
Name: Февраль 2023, dtype: object
2
160    118300.00
161    106037.00
Name: Март 2023, dtype: object
2
160    186395.00
161     46410.00
Name: Апрель 2023, dtype: object
2
160    237977.00
161     43440.00
Name: Ноябрь 2022, dtype: object
2
160    144650.00
161     30450.00
Name: Декабрь 2022, dtype: object
2
160    144650.00
161    122570.00
Name: Январь 2023, dtype: object
2
160    144650.00
161    114283.00
Name: Февраль 2023, dtype: object
2
160    118300.00
161    106037.00
Name: Март 2023, dtype: object
2
160    186395.00
161     46410.00
Name: Апрель 2023, dtype: object
1
124    NaN
Name: Ноябрь 2022, dtype: object
1
124    в ноль
Name: Декабрь 2022, dtype: object
1
124    40620.00
Name: Январь 2023, dtype: object
1
124    48715.00
Name: Февраль 2023, dtype: object
1
124    49610.00
Name: Март 2023, dtype: object
1
124    49850.00
Name: Апрель 2023, dtype: object
1
217    40200.00
Name: Ноябрь 2022, dtype: object
1
217    40200.00
Name: Декабрь 2022, dtype: object
1
217    40200.00
Name: Январь 2023, dtype: object
1
217    40200.00
Name: Февраль 2023, dtype: object
1
217    NaN
Name: Март 2023, dtype: object
1
217    40200.00
Name: Апрель 2023, dtype: object
1
313    324600.00
Name: Ноябрь 2022, dtype: object
1
313    324600.00
Name: Декабрь 2022, dtype: object
1
313    324600.00
Name: Январь 2023, dtype: object
1
313    324600.00
Name: Февраль 2023, dtype: object
1
313    324600.00
Name: Март 2023, dtype: object
1
313    324600.00
Name: Апрель 2023, dtype: object
1
314    85120.00
Name: Ноябрь 2022, dtype: object
1
314    85120.00
Name: Декабрь 2022, dtype: object
1
314    85120.00
Name: Январь 2023, dtype: object
1
314    85120.00
Name: Февраль 2023, dtype: object
1
314    85120.00
Name: Март 2023, dtype: object
1
314    85120.00
Name: Апрель 2023, dtype: object
1
126    NaN
Name: Ноябрь 2022, dtype: object
1
126    NaN
Name: Декабрь 2022, dtype: object
1
126    NaN
Name: Январь 2023, dtype: object
1
126    NaN
Name: Февраль 2023, dtype: object
1
126    NaN
Name: Март 2023, dtype: object
1
126    550000.00
Name: Апрель 2023, dtype: object
200    771
201    107
205    814
207    853
210    837
Name: id, dtype: int64
2
254    NaN
255    NaN
Name: Ноябрь 2022, dtype: object
2
254    NaN
255    NaN
Name: Декабрь 2022, dtype: object
2
254    NaN
255    NaN
Name: Январь 2023, dtype: object
2
254    107124.00
255          NaN
Name: Февраль 2023, dtype: object
2
254    102032.00
255          NaN
Name: Март 2023, dtype: object
2
254    102032.00
255          NaN
Name: Апрель 2023, dtype: object
2
254    104768.00
255          NaN
Name: Май 2023, dtype: object
1
288    52158.00
Name: Ноябрь 2022, dtype: object
1
288    66122.00
Name: Декабрь 2022, dtype: object
1
288    34850.00
Name: Январь 2023, dtype: object
1
288    NaN
Name: Февраль 2023, dtype: object
1
288    67774.08
Name: Март 2023, dtype: object
1
288    36046.00
Name: Апрель 2023, dtype: object
1
288    54832.00
Name: Май 2023, dtype: object
3
130    NaN
131    NaN
132    NaN
Name: Ноябрь 2022, dtype: object
3
130    NaN
131    NaN
132    NaN
Name: Декабрь 2022, dtype: object
3
130    NaN
131    NaN
132    NaN
Name: Январь 2023, dtype: object
3
130    NaN
131    NaN
132    NaN
Name: Февраль 2023, dtype: object
3
130    85697.50
131    36707.50
132    53288.07
Name: Март 2023, dtype: object
3
130    72542.50
131    24267.50
132    45603.00
Name: Апрель 2023, dtype: object
3
130    63660.00
131    32255.00
132    36771.00
Name: Май 2023, dtype: object
1
134    NaN
Name: Ноябрь 2022, dtype: object
1
134    NaN
Name: Декабрь 2022, dtype: object
1
134    NaN
Name: Январь 2023, dtype: object
1
134    NaN
Name: Февраль 2023, dtype: object
1
134    NaN
Name: Март 2023, dtype: object
1
134    NaN
Name: Апрель 2023, dtype: object
1
134    NaN
Name: Май 2023, dtype: object
2
136    NaN
137    NaN
Name: Ноябрь 2022, dtype: object
2
136    NaN
137    NaN
Name: Декабрь 2022, dtype: object
2
136    NaN
137    NaN
Name: Январь 2023, dtype: object
2
136    NaN
137    NaN
Name: Февраль 2023, dtype: object
2
136    NaN
137    NaN
Name: Март 2023, dtype: object
2
136    83500.00
137     9150.00
Name: Апрель 2023, dtype: object
2
136    80000.00
137    18000.00
Name: Май 2023, dtype: object
224    719
225    711
226    832
229    441
230    792
233    600
234    787
236    744
241    633
243    610
Name: id, dtype: int64
2
198    NaN
199    NaN
Name: Ноябрь 2022, dtype: object
2
198    602370.00
199          NaN
Name: Декабрь 2022, dtype: object
2
198    NaN
199    NaN
Name: Январь 2023, dtype: object
2
198    NaN
199    NaN
Name: Февраль 2023, dtype: object
2
198    NaN
199    NaN
Name: Март 2023, dtype: object
2
198    52565.00
199     1022.55
Name: Апрель 2023, dtype: object
2
198    54355.00
199      в ноль
Name: Май 2023, dtype: object
2
198    53510.00
199     1590.00
Name: Июнь 2023, dtype: object
1
153    NaN
Name: Ноябрь 2022, dtype: object
1
153    NaN
Name: Декабрь 2022, dtype: object
1
153    NaN
Name: Январь 2023, dtype: object
1
153    NaN
Name: Февраль 2023, dtype: object
1
153    NaN
Name: Март 2023, dtype: object
1
153    NaN
Name: Апрель 2023, dtype: object
1
153    NaN
Name: Май 2023, dtype: object
1
153    NaN
Name: Июнь 2023, dtype: object
1
154    NaN
Name: Ноябрь 2022, dtype: object
1
154    NaN
Name: Декабрь 2022, dtype: object
1
154    NaN
Name: Январь 2023, dtype: object
1
154    NaN
Name: Февраль 2023, dtype: object
1
154    NaN
Name: Март 2023, dtype: object
1
154    60072.10
Name: Апрель 2023, dtype: object
1
154    61187.60
Name: Май 2023, dtype: object
1
154    91257.60
Name: Июнь 2023, dtype: object
1
156    94000.00
Name: Ноябрь 2022, dtype: object
1
156    83400.00
Name: Декабрь 2022, dtype: object
1
156    79820.00
Name: Январь 2023, dtype: object
1
156    87680.00
Name: Февраль 2023, dtype: object
1
156    82100.00
Name: Март 2023, dtype: object
1
156    84100.00
Name: Апрель 2023, dtype: object
1
156    84100.00
Name: Май 2023, dtype: object
1
156    74360.00
Name: Июнь 2023, dtype: object
3
228    NaN
229    NaN
230    NaN
Name: Ноябрь 2022, dtype: object
3
228    NaN
229    NaN
230    NaN
Name: Декабрь 2022, dtype: object
3
228    NaN
229    NaN
230    NaN
Name: Январь 2023, dtype: object
3
228    1400.00
229        NaN
230    3165.00
Name: Февраль 2023, dtype: object
3
228    1400.00
229        NaN
230    5275.00
Name: Март 2023, dtype: object
3
228    1400.00
229        NaN
230    3165.00
Name: Апрель 2023, dtype: object
3
228    1400.00
229        NaN
230    3165.00
Name: Май 2023, dtype: object
3
228    1400.00
229        NaN
230     в ноль
Name: Июнь 2023, dtype: object
2
160    237977.00
161     43440.00
Name: Ноябрь 2022, dtype: object
2
160    144650.00
161     30450.00
Name: Декабрь 2022, dtype: object
2
160    144650.00
161    122570.00
Name: Январь 2023, dtype: object
2
160    144650.00
161    114283.00
Name: Февраль 2023, dtype: object
2
160    118300.00
161    106037.00
Name: Март 2023, dtype: object
2
160    186395.00
161     46410.00
Name: Апрель 2023, dtype: object
2
160    168820.00
161     44379.00
Name: Май 2023, dtype: object
2
160    185370.00
161     72430.00
Name: Июнь 2023, dtype: object
2
162    NaN
163    NaN
Name: Ноябрь 2022, dtype: object
2
162    NaN
163    NaN
Name: Декабрь 2022, dtype: object
2
162    NaN
163    NaN
Name: Январь 2023, dtype: object
2
162    NaN
163    NaN
Name: Февраль 2023, dtype: object
2
162    NaN
163    NaN
Name: Март 2023, dtype: object
2
162    NaN
163    NaN
Name: Апрель 2023, dtype: object
2
162     15400.00
163    106400.00
Name: Май 2023, dtype: object
2
162    15400.00
163    53200.00
Name: Июнь 2023, dtype: object
2
376    NaN
377    NaN
Name: Ноябрь 2022, dtype: object
2
376    NaN
377    NaN